  <% include partials/header %>
  <div>
    <h2>Statuses</h2>
    <ul>
      <% for(let i=0; i<user.statuses.length; i++) { %>
        <% include partials/userStatus %>
      <% } %>
    </ul>
  </div>
  <% include partials/footer %>
