  <div>
    <% if(currentPage === 'friends') { %>
      <b>Friends</b>
    <% } else { %>
      <a href="friends">Friends</a>
    <% } %>
    | <a href="statuses">Statuses</a> | <a href="/about">About</a> | <a href="/update">Update</a>
  </div>