<%
console.log(user)
%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>
  <h1>Index Page</h1>
  <p>First Name: <%= user.firstName %></p>
  <p>Last Name: <%= user.lastName %></p>
  <p>Email: <%= user.email %></p>
  </body>
</html>